/* Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
    margin: 4em auto;
  }
  
  .page {
    margin: 10%;
    display: grid;
    padding-top: 10em;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 400px;
    grid-gap: 20px;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
  
  .card {
    border-radius: 3%;
    padding: 2em;
    font-size: 1.1em;
  }
  
  p {
    font-size: 0.8em;
  }
  
  .verified {
    margin-left: 1em;
    font-weight: 500;
    opacity: 0.5;
    color: hsl(0, 0%, 81%);
    padding-bottom: 0.6em;
  }
  
  .name {
    margin-left: 1em;
  }
  
  .daniel {
    background-color: hsl(263, 55%, 52%);
    grid-area: daniel;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    color: white;
  }
  
  .jonathan {
    background-color: hsl(217, 19%, 35%);
    grid-area: jonathan;
    color: white;
  }
  
  .jeanette, .kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
  }
  .kira {
    grid-area: kira;
  }
  .patrick {
    background-color: hsl(219, 29%, 14%);
    grid-area: patrick;
    color: white;
  }
  
  h1 {
    font-size: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  
  .card img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding-bottom: 0.6em;
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  